@font-face {
    font-family: 'martellight';
    src: url('../assets/fonts/martel-light-webfont.woff2') format('woff2'),
        url('../assets/fonts/martel-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'martelregular';
    src: url('../assets/fonts/martel-regular-webfont.woff2') format('woff2'),
        url('../assets/fonts/martel-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'marteldemibold';
    src: url('../assets/fonts/martel-semibold-webfont.woff2') format('woff2'),
        url('../assets/fonts/martel-semibold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}