/* colors */
$primary-color-300: hsl(247, 27%, 62%);
$primary-color-500: hsl(247, 27%, 32%);
$primary-color-600: hsl(247, 27%, 12%);

// form BG
$form-bg: hsla(248, 28%, 21%, 1);
$form-shadow: hsla(248, 27%, 16%, 50%);

$secondary-color-300: hsl(48, 100%, 62%);
$secondary-color-500: hsl(48, 100%, 32%);
$secondary-color-600: hsl(48, 100%, 15%);

$cta-color-300: hsl(12, 98%, 69%);
$cta-color-500: hsl(12, 98%, 49%);
$cta-color-600: hsl(12, 98%, 25%);

/* cart background */
$cart-color-300: hsl(248, 28%, 61%);
$cart-color-500: hsl(248, 28%, 31%);
$cart-color-600: hsl(248, 28%, 15%);

/* gradient from top left to bottom right  */
$gradient-color-1: $primary-color-500;
$gradient-color-2: hsl(48, 72%, 13%);;

/* fonts */
$martel-light-300: ('martellight', serif, sans-serif);
$martel-regular-400: ('martelregular', serif, sans-serif);
$martel-semibold-600: ('marteldemibold', serif, sans-serif);

/* font-size */
// mobile
$mobile_martelSemi_xs: 1.1rem;
$mobile_martelSemi_s: 0.9rem;
$mobile_bookTitleBold: 1.6rem;
$mobile_paragraphLight: 1rem;
$mobile_book_descryptionRegular: 0.5rem;

// desktop
$desktop_header: 2.8rem;
$desktop_header_paragraph: 1.8rem;
