@import './variables';

.bookForm {
    height: 5rem;
    width: 100%;
    background-color: $form-bg;
    background: $form-bg-gradient;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.8rem 0;
    filter: drop-shadow(0 8px 8px $form-shadow);
    position: relative;
    z-index: 10;
    &__input {
        border-radius: 5px;
        margin-right: 1rem;
        padding-left: 5px;
        height: 2.3rem;
        width: 30%;
        border: 2px solid $primary-color-500;
        font-family: $martel-regular-400;
        font-weight: 600;
        @media screen and (max-width: 750px) {
            width: 50%;
        }
        &:focus {
            outline-color: $primary-color-500;
        }
    }
    &__button {
        border-radius: 3px;
        height: 2.3rem;
        border: none;
        padding: 0.6rem 2rem;
        background-color: $button-primary;
        letter-spacing: 2px;
        color: $primary-color-600;
        font-size: $mobile_martelSemi_s;
        cursor: pointer;
        font-weight: 600;
        transition: transform ease-in-out 0.2s;
        &:hover {
            transform: rotate(5deg);
            transform-origin: bottom right;
        }

    }
}
