@import './variables';

@mixin default_Next_prev_buttons {
    border-radius: 3px;
    height: 2.3rem;
    border: none;
    padding: 0.6rem 2rem;
    letter-spacing: 2px;
    font-size: 0.9rem;
    cursor: pointer;
    font-weight: 600;
    background-color: $cta-color-300;
    transition: transform 0.3s;
    &:hover {
        transform: translate(-3px, -3px);
    }
}

.books_wraper {
    display: grid;
    position: relative;
    gap: 1.4rem;
    align-items: center;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    margin-bottom: 35rem;
    @media screen and (max-width: 640px) {
        margin-bottom: 23rem;

    }
    &_buttons {
        display: flex;
        position: absolute;
        bottom: 0;
        justify-content: space-between;
        width: 100%;
        transform: translateY(5rem);
        &__prev {
           @include default_Next_prev_buttons();
        &__hidden {
            visibility: hidden;
        }
        }
        &__next {
            @include default_Next_prev_buttons();
        &__hidden {
            visibility: hidden;
        }
        }
        &__arrows {
            color: $primary-color-600;
        }
    }
}

.book_link {
    text-decoration: none;
}

.book {
    display: flex;
    flex-direction: column;
    place-content: baseline;
    padding: 2rem;
    color: #fff;
    align-items: center;
    cursor: pointer;
    &_title {
        max-width: 50%;
        font-size: 1.1rem;
        text-align: center;
        font-family: $martel-regular-400;
    }
    &_img {
        margin-bottom: 1rem;
        max-width: 128px;
        min-height: 190px;
        text-align: center;
        color: $secondary-color-300;
        background-color: $primary-color-600;
    }
    &_author {
        color: $secondary-color-300;
        font-family: $martel-light-300;
        font-size: 0.9rem;
        margin-top: 1rem;
        text-align: center;
        line-height: 1.2rem;
    }
    &:hover {
        background-color: $cart-color-600;
        transition: background-color 0.3s ease-in, transform 0.3s;
        transform: translate(5px, -5px);
        > img {
        border-radius: 5px;
            filter: drop-shadow(7px 6px 4px rgba(224, 194, 0, 0.4))

        }
    }
}

.info__loading {
    display: flex;
    justify-content: center;
}

.info__error {
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: $martel-light-300;
    background-color: $err-Bg;
    color: $err-font-color;
    padding: 1rem;
    border-radius: 5px;
    &_msg {
        font-size: clamp($mobile_martelSemi_xs, 2vw, $desktop_header);
        font-weight: 400;
        max-width: 90%;
    }
    &_closeBtn {
        position: absolute;
        top: 0.5rem;
        cursor: pointer;
        font-size: 2rem;
        right: 0.5rem;
    }

}

